In [1]:
from sklearn.datasets import load_files
import pandas as pd
import nltk


In our project, we will use the data from bbc

In [2]:
dir = "./bbc/"
data = load_files(dir, encoding="utf-8", decode_error="replace", random_state=0)
df = pd.DataFrame(list(zip(data['target'],data['data'])), columns=['label', 'text'])
print(df.shape)
df.head()

(2225, 2)

   label                                               text
0      0  Tate & Lyle boss bags top award\n\nTate & Lyle...
1      4  Halo 2 sells five million copies\n\nMicrosoft ...
2      2  MSPs hear renewed climate warning\n\nClimate c...
3      3  Pavey focuses on indoor success\n\nJo Pavey wi...
4      2  Tories reject rethink on axed MP\n\nSacked MP ...

In [4]:
# data cleaning 
from nltk.corpus import stopwords
df['text']=df['text'].apply(lambda sen:" ".join(x.lower() for x in sen.split())) # to string
df['text'] = df['text'].str.replace('[^\w\s]','')#remove punctuations
df['text'] = df['text'].str.replace('[^a-zA-Z]',' ') # keep only alphabets
stop=stopwords.words('english')
df['text']=df['text'].apply(lambda sen:" ".join(x for x in sen.split() if x not in stop)) # remove the stowords

Removal of sparse words
Also, as we say most often when deleting words, this time let's remove words that are rarely found in the text.Because they are so rare, the connection between them and other words is mainly noise.The rarer word can be replaced with a more general form, and then this will have a higher count

In [5]:
freq = pd.Series(' '.join(df['text']).split()).value_counts()[-10:]
freq = list(freq.index)
df['text'] =df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

In [6]:
# to csv
#df.to_csv('./bbc.csv')